/*** General style ***/

html, body {
	min-height: 100%;
	height: 100%;
}

.container-fluid {
	min-height: 100%;
    height: 100%;
}


.body-bg {
    background: url("../images/pexels-photo-235985.jpeg");
    background: url("../images/background-1866485_960_720.jpg");
    background: url("../images/imageedit_1_4658929597.jpg");
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.row-height {
	height: 100%;
	min-height: 100%;
	display: block;
}

.col-bg {
	background: url("../images/input-bg.png") repeat;
	height: 100%;
	min-height: 100%;
}

/* Animation */

.fade-animation {
  -webkit-animation: fade-me 5s; /* Safari 4+ */
}


.pop-in {
	-webkit-animation: pop-in 2.5s;
}

@-webkit-keyframes fade-me {
  0%   { opacity: 0.2;  }
  50%   { opaciy: 0.5; }
  100% { opacity: 1; }
}

@-webkit-keyframes pop-in {
0% { opacity: 0; -webkit-transform: scale(0.2); }
100% { opacity: 1; -webkit-transform: scale(1); }
}

/* Header */

.logo {
	padding: 37px 0;
	text-align: center;
}

.logo div {
	color: #fff;
	font-size: 550%;
	font-weight: 900;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	border: 1px dotted #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0 20px;
}

.logo div:hover {
	background: url("../images/input-bg.png") repeat;
}


/* Content */

aside h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 900;
	font-family: 'Roboto Slab', serif;
	padding: 0 0 30px 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

aside h3 {
	color: #fff;
	font-size: 22.5px;
	font-weight: 100;
	font-family: 'Roboto Slab', serif;
	padding: 0 0 40px 0;
	text-align: center;
}

aside h3 span {
	font-weight: 700;
}

/* Unfold */

.unfold .form-group {
	position: relative;
}

.unfold input {
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 100;
	border: 1px dotted #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: url("../images/input-bg.png") repeat;
	height: 50px;
}

.unfold .search-me {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #fff;
}

.unfold .search-me a {
	color: #fff;
}

.unfold .search-me a:hover i {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.unfold .meniu_links {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}

.unfold .meniu_links a {
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	text-decoration: none;
}

.unfold .meniu_links a:hover i {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}

.unfold > #output {
	font-family: 'Roboto Slab', serif;
    color: #fff;
	font-size: 20px;
	font-weight: 100;
    padding: 30px 40px;
	border: 1px dotted #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: url("../images/input-bg.png") repeat;
	height: 100px;
	margin: 30px 0px;
}


/* Accordion */

#accordion {
	padding: 40px 0;
}

#accordion .panel {
	background-color: transparent;
	border-radius: 3px;
	border: 1px dotted #fff;
}

#accordion .panel-heading {
	background: url("../images/input-bg.png") repeat;
	background-color: none;
}

#accordion .panel-title {
	color: #fff;
	font-size: 28px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

#accordion .panel-title a {
	text-decoration: none;
	display: block;
}

#accordion .panel-title a:hover i {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}

#accordion .panel-body {
	color: #fff;
	font-family: 'Roboto Slab', serif;
    /*font-weight: bold;*/
	font-weight: 350;
	text-align: justify;
	font-size: 18px;
}

#accordion .panel-body li {
	list-style-type:circle;
}

#accordion label {
	border-bottom: 1px dotted #fff;
	padding: 0 0 5px 0;
	display: block;
}


/* Responsive utilities */

@media (max-width: 767px) {
	
	.logo {
		text-align: center;
	}
	
	.logo a {
		font-size: 60px;
	}
	
	aside h1,aside h3 {
		text-align: center;
	}
	
	.unfold .meniu_links {
		width: 100%;
	}
	
	.unfold .meniu_links a {
		font-size: 14px;
	}
	
	#accordion {
		padding: 10px 0;
	}
	
	#accordion .panel-title {
		font-size: 16px;
	}

	#accordion .panel-body {
		font-size: 12px;
	}
	
	footer {
		text-align: center;
		font-size: 12px;
	}
}

@media (max-width: 1024px) {
	body {
		height: auto;
	}
}

@media (max-width: 480px) {
	.logo {
		padding: 20px 0;
	}
	
	.logo a {
		font-size: 250%;
		padding: 0 20px;
	}
	
	aside h1 {
		
		font-size: 300%;
		padding: 0 0 15px 0;
	}
}
